name: CI Pipeline

on:
  pull_request:
    branches:
      - devel
      - stage

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: codebase/rdicidr-0.1.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '15.x'
          cache: 'npm'
          cache-dependency-path: codebase/rdicidr-0.1.0/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: CI=true npm test

      - name: Build app
        run: npm run build
