name: CI Pipeline

on:
  pull_request:
    branches:
      - devel
      - stage

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install
        working-directory: codebase/rdicidr-0.1.0

      - name: Run linter
        run: npm run lint
        working-directory: codebase/rdicidr-0.1.0

      - name: Run tests
        run: CI=true npm test
        working-directory: codebase/rdicidr-0.1.0

      - name: Build app
        run: npm run build
        working-directory: codebase/rdicidr-0.1.0
